div .place-item, div.no-results {
    background-color: white;
    padding: 5px 10px 5px 10px;
    font-size: 14px;
}

div.no-results {
    background-color: #999999;
}

div .place-item:hover, div.no-results:hover {
    background-color: #fffeee;
}