form {
    position: fixed;
    top: 50px;
    left: 20px;
    z-index: 1;
}
form input {
    width: 200px;
    height: 20px;
    line-height: 20px;
    padding: 0 5px 0 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}